.idea
.ipynb_checkpoints
/data
/docs
/notebooks/.ipynb_checkpoints
/notebooks/2_Converting_dataset_format.ipynb
/notebooks/3_EDA-old.ipynb
/notebooks/plotly.ipynb
/notebooks/SP_Hospital_Registry_Cancer_Database.ipynb
/notebooks/test.ipynb
/notebooks/*.jpg
/notebooks/*.csv
src/__pycache__
src/argparse
